.products {
   margin: 100px 0 200px 0;
}

.products-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
   column-gap: 50px;
   row-gap: 100px;

   @media only screen and (max-width: 440px) {
      place-items: center;
   }
}

.products-card {
   max-width: 210px;
   position: relative;

   &:hover {
      h4 {
         color: var(--color-accent);
      }
   }

   @media only screen and (max-width: 440px) {
      width: 250px;
   }
}

.products-card-image__wrapper {
   display: flex;
   justify-content: center;
}

.products-card__image {
   width: 170px;
   height: 180px;
   object-fit: contain;
}

.products-card__title {
   height: 5.5em;

   @media only screen and (max-width: 440px) {
      height: 4em;
   }
}

.price_and_basket {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.products-card__price {
   font-size: 24px;
   font-weight: 600;
   position: relative;

   @media only screen and (max-width: 440px) {
      font-size: 20px;
   }

   // ПРОСТО ЗАГЛУШКА, ХОТЕЛ ДЛЯ КАЖДОГО ТОВАРА СКИДКУ 
   &::before {
      content: '99999 ₽';
      font-weight: 300;
      font-size: 13px;
      color: #777;
      position: absolute;
      top: -20px;

      @media only screen and (max-width: 440px) {
         display: none;
      }
   }

   &::after {
      content: '';
      position: absolute;
      width: 64px;
      height: 1px;
      background-color: #777;
      top: -9px;
      left: -3px;

      @media only screen and (max-width: 440px) {
         display: none;
      }
   }
}

.products-card__backet {
   display: flex;
   align-items: center;
   padding: 13px;
   border-radius: 5px;
   background-color: var(--color-accent);
   border: 1px solid transparent;

   &:hover {
      background-color: rgb(115, 255, 0);
   }

   &.active {
      border: 1px solid var(--color-main);
      background-color: #fff;
   }
}

.liked {
   display: flex;
   fill: #d3d3d3;

   &.active {
      fill: var(--color-accent);
   }
}