@import url('https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

:root {
   --font-main: 'Jost', sans-serif;
   --color-main: #333333;
   --color-bg: #ffffff;
   --color-accent: #76BC21;
}

body {
   font-family: var(--font-main);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   text-align: left;
   overflow-x: hidden;
}

.container {
   max-width: 1430px;
   width: 100%;
   padding: 0 15px;
   margin-inline: auto;
}