.basket {
   margin: 60px 0 150px 0;
}

.basket-basket {
   margin: 10px 0 10px 0;
}

.basket-title {
   font-size: 60px;
   font-weight: 500;
   letter-spacing: 2px;
}

.basket-length {
   font-size: 20px;
}

.basket-price {
   font-size: 18px;
}

.basket-button {
   margin-top: 20px;
   background-color: var(--color-accent);
   color: var(--color-bg);
   padding: 10px 30px;
   border: 1px solid transparent;
   border-radius: 5px;

   &:hover {
      background-color: var(--color-bg);
      color: var(--color-main);
      border: 1px solid var(--color-main);
   }
}