.contact {
   margin: 100px 0;
}

.contact-title {
   font-size: 30px;
   font-weight: 500;
}

.grafik-title {
   font-size: 20px;
   margin: 30px 0;
}

.grafik-subTitle {
   margin: 5px 0;
   width: 230px;
   display: flex;
   justify-content: space-between;
}