.header {
   padding: 10px 0;
   box-shadow: 0px 2px 30px 0px rgb(204, 204, 204);

   // position: sticky;
   // top: 0;
   // background-color: #fff;
   // z-index: 9999;
}

.header-help {
   display: flex;
   justify-content: flex-end;
   gap: 40px;
   padding-bottom: 10px;

   a {
      color: var(--color-main);
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
         color: var(--color-accent);
      }
   }

   @media only screen and (max-width: 1100px) {
      gap: 20px;
      font-size: 14px;
      justify-content: center;
   }

   @media only screen and (max-width: 400px) {
      gap: 15px;
      font-size: 12px;
   }
}

.header-content {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media only screen and (max-width: 1100px) {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
   }
}

.logo__catalog {
   display: flex;
   align-items: center;
   gap: 50px;

   @media only screen and (max-width: 1100px) {
      gap: 20px;
   }
}

.logo {
   color: var(--color-accent);
   font-size: 55px;

   @media only screen and (max-width: 1100px) {
      font-size: 40px;
   }
}

.search-wrapper {
   width: 650px;
   display: flex;
   height: 50px;
   border: 1px solid rgb(0, 0, 0, 0.1);
   padding: 0 10px;
   border-radius: 5px;


   input {
      width: 100%;

      &::placeholder {
         font-size: 16px;
         color: rgb(163, 163, 163);
      }
   }

   @media only screen and (max-width: 1350px) {
      width: 500px;
   }

   @media only screen and (max-width: 1235px) {
      width: 400px;
   }

   @media only screen and (max-width: 1100px) {
      justify-content: center;
      max-width: 350px;
      margin-bottom: 20px;
   }

   @media only screen and (max-width: 400px) {
      width: 300px;
   }
}

.search-icon {
   display: flex;
   width: 30px;
   fill: #666;

   &:hover {
      fill: var(--color-main);
   }
}

.user-content {
   display: flex;
   gap: 30px;
}

.user-link {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--color-main);
   position: relative;

   svg {
      width: 25px;
   }

   &:hover {
      color: #666;
   }

   &.active {
      color: var(--color-accent);
   }
}

.favorite-length {
   position: absolute;
   background-color: var(--color-accent);
   color: var(--color-main);
   padding: 5px 10px;
   border-radius: 10px;
   right: 5px;
   top: -15px;
}


.catalog-wrapper {
   position: relative;
}

.modal-Catalog {
   position: fixed;
   background-color: var(--color-bg);
   width: 200px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 2px 30px 0px rgb(204, 204, 204);
   transform-origin: top bottom;
   opacity: 0;
   transition: all 0.3s ease;
   transform: translateY(-30px);
   pointer-events: none;

   &.active_catalog {
      opacity: 1;
      transform: translateY(0px);
      z-index: 99;
   }

   li {
      padding: 5px 0;
   }

   a,
   li {
      color: var(--color-main);
      pointer-events: all;

      &:hover {
         color: var(--color-accent);
      }
   }
}

.catalog {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   font-size: 18px;
   background-color: var(--color-accent);
   height: 50px;
   padding: 0px 25px;
   color: var(--color-bg);
   border-radius: 5px;

   &:hover {
      background-color: rgb(115, 255, 0);
   }

   .hamburger_active {

      input,
      svg {
         transform: rotate(-45deg);
      }

      svg .line-top-bottom {
         stroke-dasharray: 20 300;
         stroke-dashoffset: -32.42;
      }
   }
}

.line-top-bottom {
   stroke-dasharray: 12 63;
}

.hamburger {
   cursor: pointer;
   display: flex;
   pointer-events: none;
}

.hamburger input {
   display: none;
}

.hamburger svg {
   height: 2.3em;
   transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
   fill: none;
   stroke: rgb(255, 255, 255);
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 3;
   transition:
      stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.toTop {
   display: flex;
   align-items: center;
   position: fixed;
   bottom: 100px;
   right: 70px;
   background-color: var(--color-accent);
   padding: 15px;
   border-radius: 5px;
   opacity: 0;
   transform: translateY(50px);
   visibility: hidden;
   transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
   z-index: 9999;
   box-shadow: 0px 4px 20px rgb(151, 151, 151);
   border: 1px solid transparent;

   &.active {
      opacity: 1;
      transform: translateY(0px);
      visibility: visible;
   }

   &:hover {
      background-color: var(--color-bg);
      box-shadow: none;
      border: 1px solid var(--color-main);
   }

   @media only screen and (max-width: 500px) {
      right: 30px;
   }
}