.header {
   padding-top: 30px;
   position: sticky;
   top: 0;
   background-color: #fff;
   z-index: 9999;
   box-shadow: 0px 2px 30px 0px rgb(204, 204, 204);
}

.header-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo__catalog {
   display: flex;
   align-items: center;
   gap: 50px;
}

.logo {
   color: var(--color-accent);
   font-size: 55px;
}

.search-wrapper {
   // margin-left: -40px;
   width: 650px;
   display: flex;
   height: 50px;
   border: 1px solid rgb(0, 0, 0, 0.1);
   padding: 0 10px;
   border-radius: 5px;

   input {
      width: 100%;

      &::placeholder {
         font-size: 16px;
         color: rgb(163, 163, 163);
      }
   }
}

.search-icon {
   display: flex;
   width: 30px;
   fill: #666;

   &:hover {
      fill: var(--color-main);
   }
}

.user-content {
   display: flex;
   gap: 30px;
}

.user-link {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--color-main);
   position: relative;

   svg {
      width: 25px;
   }

   &:hover {
      color: #666;
   }
}

.catalog-wrapper {
   position: relative;
}

.modal-Catalog {
   position: absolute;
   background-color: var(--color-bg);
   width: 200px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 2px 30px 0px rgb(204, 204, 204);
   transform-origin: top bottom;
   opacity: 0;
   transition:
      transform 0.3s ease 0s,
      opacity 0.3s ease 0s,
      z-index 0s 0s;
   transform: translateY(-30px);
   pointer-events: none;

   &.active_catalog {
      opacity: 1;
      transform: translateY(0px);
   }

   li {
      padding: 5px 0;
   }

   a, li {
      color: var(--color-main);
      pointer-events: all;

      &:hover {
         color: #777;

      }
   }
}

.catalog {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   font-size: 18px;
   background-color: var(--color-accent);
   height: 50px;
   padding: 0px 25px;
   color: var(--color-bg);
   border-radius: 5px;

   &:hover {
      background-color: rgb(115, 255, 0);
   }

   .hamburger_active {

      input,
      svg {
         transform: rotate(-45deg);
      }

      svg .line-top-bottom {
         stroke-dasharray: 20 300;
         stroke-dashoffset: -32.42;
      }
   }
}

.line-top-bottom {
   stroke-dasharray: 12 63;
}

.hamburger {
   cursor: pointer;
   display: flex;
   pointer-events: none;
}

.hamburger input {
   display: none;
}

.hamburger svg {
   height: 2.3em;
   transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
   fill: none;
   stroke: rgb(255, 255, 255);
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke-width: 3;
   transition:
      stroke-dasharray 400ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorite-length {
   position: absolute;
   background-color: var(--color-accent);
   padding: 5px 10px;
   border-radius: 10px;
   right: 5px;
   top: -15px;
}

